* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    height: 100%;
    width: 901px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 50px 0px;
}

h1 {
    font-family: 'Yellowtail', cursive;
}

header, header > * {
    display: flex;
    flex-direction: row;
}

header {
    justify-content: space-between;
}

header * {
    padding: 0;
    margin: 0;
}

.left-side-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 60px;
}

.right-side-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-side-header img {
    width: 60px;
    height: 60px;

    margin-right: 5px;
}

.right-side-header img {
    width: 25px;
    height: 25px;
    margin: 1px;
}

.section-header p {
    text-transform: uppercase;
}

section article {
    background-image: url('../assets/list-bg.png');
}

footer {
    display: flex;
    flex-direction: column;
}

footer article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer button {
    background-color: tomato;
    height: 60px;
}

footer img {
    height: 70px;
    width: 70px;
}

p.copyright-info {
    text-align: center;
}
section article{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    font-family: 'Chilanka', cursive;
    font-size: 1.054em;
}
ul{
    list-style: none;
}
.checked{
    text-decoration: line-through;
}
hr{
    width: 100%;
    border-width: 5px;
    border: 7px dashed darkgrey;
}